#.gitignore

# Ignoro los archivos temporales (todos los que terminan con el caracter "~")
*~

# Ignoro la carpeta build:
build/

# Ignoro las carpeta de proyecto KDevelop y sus archivos:
.kdev4/
build_kdev/
*.kdev4
*.kate-swp

# Ignoro un archivo main alternativo
main.cc.alt
